.logo{
    color: #cddcdf;
    width: 140px;
    height: 100px;
    box-shadow: #233b29;
}

.sessao{
    display: none;
    animation: fadeIn 1s ease-in-out;
    padding: 3rem 0;
}

.sessao.active{
    display: block;
}

div.vntgns{
    display: grid;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', -apple-system, sans-serif;
}

body{
    background: linear-gradient(to left, #55757a, #cddcdf);
    color: #000000;
    line-height: 1.5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background: #88ac88;
    position: sticky;
    border-bottom: 2px solid #324738;
    top:0;
    z-index: 10;
    padding: 10px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #2f492f;
    text-align: end;
    margin-right: 10px;
    padding: 10px 4px 10px 4px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover{
    color: #4c994c;
    background-color: #cddcdf;
    border-radius: 50% 80%;
}

nav a:active{
    color:rgb(64, 91, 114);
    font-weight: 800;
    border-bottom: 2px solid;
}

nav li{
    display: inline;
    margin-left: 40px;
}

.logo a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.subh{
    background-image: url(img/banner.jpeg);
    border: 1px solid #e0e0e0;
    text-align: center;
    border-radius: 10px;
}

.subh h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
}

.subh p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
}

h2{
    color: aliceblue;
    text-align: center;
    margin-bottom: 5px;
    font-size: 40px;
}

.botao {
    color: #ccf0cc; 
    padding: 5px 20px;
    text-decoration: dotted;
    border-radius: 50px;
    font-weight: 700;
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: 800;
}

.botao:hover{
    transform: scale(1.05);
    background-color: #88aeb4;
    color: aliceblue;
}

.vntgns, .equipe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 325px));
    gap: 40px;
    margin-top: 30px;
}

.vtcard{
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-bottom: 4px solid #3a516b;
    border-radius: 10px;
    padding: 30px;
    box-shadow: #4446aa;
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.vtcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #131a1b;
    border-bottom-color: #233b29;
    cursor: pointer;
}   

.vtcard h3{
    color: #4c994c;
    margin-bottom: 10px;
}

.vtcard p{
    color: #555;
    text-align: justify;
}

.imagem{
    mask-image: radial-gradient(circle, black 50%, transparent 100%);
    width: 200px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
}

.about{
    text-align: center;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    cursor: default;
    border-bottom: solid #3a516b;
}

.about p{
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
}

.about blockquote{
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.about .author{
    font-weight: bold;
    color: rgb(195, 206, 216);
    margin-top: 16px; ;
    font-size: 20px;
}

.card-member1 {
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-bottom: 4px solid #27382a; 
    box-shadow: 0 4px 12px #5e7261; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom-color 0.3s ease;
}

.member-info{
    background: #ffffff;
    border: 1px solid #42613b;
    border-bottom: 4px solid rgb(49, 77, 48);
    border-radius: 10px;
    padding: 30px;
    box-shadow: #418357;
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.member-info:hover{
    border: 1px solid #1d2e3a;
    border-bottom: 4px solid rgb(58, 81, 107);
}

.card-member1:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px #1d2e3a; 
    border-bottom: 4px solid #23283b;
}

.card-member1 img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
    object-fit: cover;
    margin-bottom: 10px; 
    border: 3px solid #446448;
}

.card-member1 img:hover{
    border: 3px solid #39456b;
}

.member-info h3 {
    color: #233b29;
    margin-top: 10px;
    font-size: 1.5rem;
}

.member-info h2 {
    font-size: 1rem;
    color: #373c3d;
    font-weight: 600;
    margin-bottom: 15px;
}

.member-info p {
    font-size: 16px;
    color: #27382a;
    font-weight: 700;
    text-align: justify;
}

.member-info a{
    text-decoration: none;
    color: #27382a;
}

.member-info a:hover{
    color: #39456b;
    border-bottom: #39456b solid;
}

.producao-intro {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #333;
}

.timeline {
    position: relative;
    border-left: 4px solid #233b29;
    padding-left: 40px;
    margin: 40px 0;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.timeline-dot {
    position: absolute;
    left: -63px;
    top: 0;
    width: 40px;
    height: 40px;
    background: #9dbda6;
    color: #000000;
    border-radius: 50%;
    border: 5px solid #233b29;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 0 0 3px #324738;
}

.timeline-content {
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #233b29;
    transition: box-shadow 0.3s;
}

.timeline-content:hover, .tmlcard:hover{
    box-shadow: 0 10px 20px #131a1b;
    cursor: pointer;
    transform: translateY(-5px);
}

.timeline-content h2 {
    color: #1d2e3a;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.timeline-content p {
    color: #555;
    text-align: justify;
}

.titulo{
    color: #39503d;
    background: linear-gradient(to top, #4c994c, #bee2be);
    border-radius: 50%;
    margin: 0px 250px 0px 250px;
    font-size: 20px;
    max-width: 100%;
}

.timeline{
    border-left: 2px solid #27382a;
    padding-left: 30px;
    margin-left: 20px;
    margin-top: 25px;
}

.tmlcard{
    background: #ffffff;
    position: relative;
    margin-bottom: 40px;
    padding: 10px 0;
    border-bottom: #131a1b solid 2px;
    border-radius: 20%;
    transition: box-shadow 0.3s;
}

.tmlcard p{
    text-align: justify;
    color: #555;
    margin-left: 30px;
    margin-right: 30px;
}

.tmlcard::before{
    content: '';
    position: absolute;
    left: -41px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #418357;
    border-radius: 50%;
    border: 4px solid #324738;
}

.topico{
    display: block;
    color: #394e3e;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    margin: 0px 2px 0px 2px;
}

footer{
    background: linear-gradient(to top, #367436, #4c994c);
    color: #0f0f0f;
    padding: 40px 0 15px 0;
    margin-top: 50px;
    border-top: 2px solid #131a1b;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 20px;
}

.contato{
    flex: 1 1 250px;
    min-width: 200px;
}

.contato ul{
    list-style: none;
}

.contato li{
    margin-bottom: 10px;
    font-size: 16px;
}

.fabout h4, .contato h4{
    font-size: 16px;
    margin-bottom: 20px;
    color: #131a1b;
}

.fabout p{
    font-size: 14px;
    margin-bottom: 20px;
}

.redesocial a{
    color: #d8e9dc;
    text-decoration: none;
    margin-right: 15px;
    font-size: 12px;
    padding: 5px 0;
    transition: color 0.4s;
    font-weight: bold;
}

.redesocial a:hover{
    color: #131d24;
    font-weight: 800;
}

.direitos{
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #131a1b;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}
